.chrome-picker
{
    box-shadow: var(--mapps-shadow_v1) !important;
    border: 1px solid var(--mapps-border-color-default);
    font-family: var(--mapps-font-family) !important;
    letter-spacing: 0.5px;
}